<h1>
    colleges
</h1>
<table>
    <tr>
        <th>college_id</th>
        <th>college_name</th>
    </tr>
    {{#each data}}
    <tr>
        <th>college_id</th>
        <th>college_name</th>
    </tr>
    {{/each}}
</table>